$white: #fff;
$black: #000;
$red: #ff3333;
$blue: #007aff;
$lightGray: #81939f;
$darkGray: #37474f;
$gray: #dadada;

$headerInactive: #b0bec5;
$yellow: #ffb800;
$footerGray: #f5f5f5;
$headerBlack: #040404;
$downloadBlack: #151515;
$border: #303030;
$burgerGray: #81939f;