{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="documents">
    <div class="filiarls">
        <h1>Филиал Федерального государственного бюджетного учреждения высшего образования “Национальный исследовательский
            университет “МЭИ” в городе Ташкенте</h1>
    
        <p>Прием документов начинается с 20 июля по 20 августа 2023 года по следующим направлениям бакалавриата:</p>
    </div>

    <div class="container60">
        <h2 class="pb-3 pt-5">Очное отделение</h2>
        <table>
            <tr>
                <th>№</th>
                <th>Код направления</th>
                <th>Направление</th>
            </tr>
            <tr>
                <td>1</td>
                <td>13.03.01</td>
                <td>Теплоэнергетика и теплотехника</td>
            </tr>
            <tr>
                <td>2</td>
                <td>13.03.02</td>
                <td>Электроэнергетика и электротехника</td>
            </tr>
            <tr>
                <td>3</td>
                <td>11.03.04</td>
                <td>Электроника и наноэлектроника</td>
            </tr>
            <tr>
                <td>4</td>
                <td>38.03.01</td>
                <td>Экономика</td>
            </tr>
            <tr>
                <td>5</td>
                <td>38.03.02</td>
                <td>Менеджмент</td>
            </tr>
            <tr>
                <td>6</td>
                <td>27.03.02</td>
                <td>Управление качеством</td>
            </tr>
            <tr>
                <td>7</td>
                <td>27.03.04</td>
                <td>Управление в технических системах</td>
            </tr>
        </table>

        <h2 class="pt-5 pb-3">Заочное отделение</h2>
        <table>
            <tr>
                <th>№</th>
                <th>Код направления</th>
                <th>Направление</th>
            </tr>
            <tr>
                <td>1</td>
                <td>13.03.01</td>
                <td>Теплоэнергетика и теплотехника</td>
            </tr>
            <tr>
                <td>2</td>
                <td>13.03.02</td>
                <td>Электроэнергетика и электротехника</td>
            </tr>
            <tr>
                <td>3</td>
                <td>38.03.01</td>
                <td>Экономика</td>
            </tr>
            <tr>
                <td>4</td>
                <td>38.03.02</td>
                <td>Менеджмент</td>
            </tr>
            <tr>
                <td>5</td>
                <td>27.03.02</td>
                <td>Управление качеством</td>
            </tr>
            <tr>
                <td>6</td>
                <td>27.03.04</td>
                <td>Управление в технических системах</td>
            </tr>
        </table>

    </div>


</div>

{% endblock %}