<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Gilroy fnmt -->
    <link href="fonts/Gilroy/stylesheet.css" rel="stylesheet"> 
    <!-- Inter font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <!-- Aos css -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- intlTelInput css -->
    <link rel="stylesheet" href="style/intlTelInput.css">
    <!-- Style Css -->
    <link rel="stylesheet" href="style/index.css">        
    <title>GTRobot</title>
</head>
<body>

    <!-- Preloader -->
    <div class="loader-wrap anime">
        <div class="loader">
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
        </div>
    </div>
    <!-- Preloader -->

    <div class="wrapper">
        <!-- Header start -->
        <header id="header" data-aos="fade-down" data-aos-delay="200">
            <div class="container">
                <div class="header_menu">
                    <div class="logo">
                        <a href="#"><img src="img/logo_header.svg" alt=""></a>
                    </div>
                    <div class="menu_header">
                        <ul>
                            <li>
                                <a href="#">Главная</a>
                            </li>
                            <li>
                                <a href="#">О нас</a>
                            </li>
                            <li>
                                <a href="#">Дорожная карта</a>
                            </li>
                            <li>
                                <a href="#">Игра</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="language">
                        <div class="custom-select">
                            <select>
                              <option value="0">Рус</option>
                              <option value="1">Uzb</option>
                            </select>
                        </div>
                    </div>
                    <div class="header_personal-wrap">
                        <a href="#!" class="header_personal-link"><img src="img/user.svg" alt=""><span>Выйти из уч. записи</span></a>
                        <button class="header-bars"><img src="img/bars.svg" alt=""></button>
                    </div>
                </div>
            </div>

            <div class="header_mob">
                <div class="header_mob-top">
                    <div class="language">
                        <div class="custom-select">
                            <select>
                              <option value="0">Рус</option>
                              <option value="1">Uzb</option>
                            </select>
                        </div>
                    </div>
                    <button class="header-close"><img src="img/close.svg" alt=""></button>
                </div>
                <div class="menu_header">
                    <a href="#">Главная</a>
                    <a href="#">О нас</a>
                    <a href="#">Дорожная карта</a>
                    <a href="#">Игра</a>
                    <a href="#">FAQ</a>
                </div>
            </div>
            <div class="header-mob-bg"></div>
        </header>
        <!-- Header end -->

        <main>
            <section class="checkout">
                <div class="container">
                    <div class="title_checkout main_title" data-aos="fade-left" data-aos-delay="200">
                        <span>Оформление корзины <img src="img/guide-title-icon.svg" alt=""></span>
                        <h1>оплата</h1>
                    </div>
                    <div class="checkout_block">
                        <div class="checkout_items">
                            <div class="checkout_item checkout_pay" data-aos="fade-up" data-aos-delay="400">
                                <div class="checkout_title">
                                    <h2>Метод оплаты</h2>
                                </div>
                                <div class="checkout_card">
                                    <div class="checkout_card-top">
                                        <h3>Оплата картой</h3>
                                        <img src="img/cart-logo.svg" alt="">
                                    </div>
                                    <div class="checkout_card-form">
                                        <div class="checkout_card-groups">
                                            <div class="checkout_card-group">
                                                <label for="cardNumber" class="card_form-label">Номер карты</label>
                                                <input type="text" id="cardNumber" placeholder="1234 5678 9101 3456">
                                                <div class="success_img">
                                                    <img src="img/success2.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="checkout_card-group">
                                                <label for="cardDate" class="card_form-label">Дата истечения</label>
                                                <input type="text" id="cardDate" placeholder="ММ/ГГ">
                                            </div>
                                            <div class="checkout_card-group">
                                                <label for="cardNumber" class="card_form-label">Код безопастности (CVV)</label>
                                                <input type="text" id="cardCode" placeholder="***">
                                            </div>
                                            <a href="#!" class="checkout_card-link">Что это такое?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout_card-bottom">
                                    <img src="img/checkout-key.svg" alt="">
                                    <p>
                                        Мы защищаем вашу платежную информацию с помощью шифрования, 
                                        чтобы обеспечить безопасность на банковском уровне.
                                    </p>
                                </div>
                            </div>

                            <div class="checkout_item checkout_basket" data-aos="fade-up" data-aos-delay="450">
                                <div class="checkout_title">
                                    <div>
                                        <h2>Ваша корзина</h2>
                                        <p>5 услуг в вашей корзине </p>
                                    </div>
                                    <span>Тариф VIP</span>
                                </div>
                                <div class="checkout_basket-boxs">
                                    <div class="checkout_basket-box">
                                        <div class="checkout_basket-texts">
                                            <p>Тех. поддержка</p>
                                            <span class="present">Подарок</span>
                                        </div>
                                        <div class="basket_total-wrap">
                                            <div class="basket_total">
                                                <span>300,00</span>
                                                <b>$200,00</b>
                                            </div>
                                            <button><img src="img/x-mark.svg" alt=""></button>
                                        </div>
                                    </div>

                                    <div class="checkout_basket-line"></div>

                                    <div class="checkout_basket-box">
                                        <p>Тех. поддержка</p>
                                        <div class="basket_total-wrap">
                                            <div class="basket_total">
                                                <b>$200,00</b>
                                            </div>
                                            <button><img src="img/x-mark.svg" alt=""></button>
                                        </div>
                                    </div>

                                    <div class="checkout_basket-line"></div>

                                    <div class="checkout_basket-box">
                                        <p>Тех. поддержка</p>
                                        <div class="basket_total-wrap">
                                            <div class="basket_total">
                                                <b>$200,00</b>
                                            </div>
                                            <button><img src="img/x-mark.svg" alt=""></button>
                                        </div>
                                    </div>

                                    <div class="checkout_basket-line"></div>

                                    <div class="checkout_basket-box">
                                        <p>Тех. поддержка</p>
                                        <div class="basket_total-wrap">
                                            <div class="basket_total">
                                                <b>$200,00</b>
                                            </div>
                                            <button><img src="img/x-mark.svg" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="checkout_plus-btn"><img src="img/checkout-plus.svg" alt=""></button>
                            </div>
                        </div>
                        <div class="checkout_items">
                            <div class="checkout_item checkout_item-promo" data-aos="fade-up" data-aos-delay="600">
                                <div class="checkout_title">
                                    <h2>Промокод</h2>
                                    <img src="img/up-arrow.svg" alt="">
                                </div>
                                <div class="checkout_promo">
                                    <div class="checkout_promo-group">
                                        <label for="cardPromo" class="promo_group-label">Введите свой промокод</label>
                                        <input type="text" id="cardPromo" placeholder="PROMO123">
                                        <div class="success_img">
                                            <img src="img/success2.svg" alt="">
                                        </div>
                                    </div>
                                    <p>Промокоды действителены только для покупки тарифа VIP</p>
                                </div>
                            </div>

                            <div class="checkout_item checkout_item-amount" data-aos="fade-up" data-aos-delay="750">
                                <div class="checkout_title">
                                    <h2>Итог</h2>
                                    <img src="img/up-arrow.svg" alt="">
                                </div>
                                <div class="amount_price">
                                    <div class="amount_price-boxs">
                                        <div class="amount_price-box">
                                            <p>Общая сумма</p>
                                            <span>$800.00</span>
                                        </div>
                                        <div class="amount_price-box">
                                            <p>Скидка по промокоду</p>
                                            <span>$-200.00</span>
                                        </div>
                                    </div>
                                    <div class="amount_price-total">
                                        <span>Сумма списания</span>
                                        <span>$600.00</span>
                                    </div>
                                </div>
                                <div class="amount_bottom">
                                    <div class="amount_check">
                                        <input type="checkbox" id="amountCheck">
                                        <label for="amountCheck">
                                            Подтвердите что вы согласны с условиями
                                            <span>лицензионного соглашения</span>
                                        </label>
                                    </div>
                                    <a href="#!" class="amount_pay">Оплатить $600</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
            
        <!-- Footer start -->
        <footer class="footer footer-checkout p-0">
            <div class="container">
                <div class="footer_block">
                    <div class="footer_menu">
                        <a href="#!" class="footer-logo"><img src="img/footer-logo.svg" alt=""></a>
                        <div class="footer_navs">
                            <a href="#!" class="footer_nav">Главная</a>
                            <a href="#!" class="footer_nav">О нас</a>
                            <a href="#!" class="footer_nav">Дорожная карта</a>
                            <a href="#!" class="footer_nav">Игра</a>
                            <a href="#!" class="footer_nav">FAQ</a>
                        </div>
                        <a href="#header" class="footer_arrow"><img src="img/arrow-top.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end -->

    </div>


    <!-- Confirmation modal -->
    <div class="confirmation">
        <div class="confirmation-modal">
            <h5 class="confirmation-title">Код подтверждения</h5>
            <p class="confirmation-text">СМС-код подтверждения отправлен на номер +998 93 004 10 24</p>
            <form name="verifyForm">
                <div class="confirmation-input">
                  <input type="text" name="n1" maxLength="1" requred>
                  <input type="text" name="n2" maxLength="1" requred>
                  <input type="text" name="n3" maxLength="1" requred>
                  <input type="text" name="n4" maxLength="1" requred>
                  <input type="text" name="n5" maxLength="1" requred>
                  <input type="text" name="n6" maxLength="1" requred>
                </div>
                <button type="submit" class="confirmation-btn">Подтвердить</button>
            </form>
            <a href="#!" class="confirmation-link">Не приходит код?</a>
        </div>
        <div class="confirmation-modal-bg"></div>
    </div>

    <!-- Authorization modal -->
    <div class="authorization">
        <div class="authorization-modal">
            <h5 class="authorization-title">Авторизация</h5>
            <div class="authorization_form">
                <div class="authorization_form-groups">
                    <div class="authorization_form-group authorization_form-group1">
                        <label for="authorizationFrom" class="authorization_form-label">Введите свой номер телефона</label>
                        <input type="tel" id="authorizationFrom" class="authorization_form-input authorization_form-input1">
                        <div class="authorization_group-icon">
                            <img src="img/success2.svg" alt="">
                        </div>
                    </div>
                    <div class="authorization_form-group">
                        <label for="authorizationFrom2" class="authorization_form-label">Введите пароль</label>
                        <input type="password" id="authorizationFrom2" placeholder="************" class="authorization_form-input">
                        <div class="authorization_group-icon">
                            <img src="img/eye-off.svg" alt="">
                        </div>
                    </div>
                </div>

                <button class="authorization_form-btn">Авторизоваться</button>

                <div class="authorization_form-link">
                    Нет аккаунта? <a href="#!">Зарегистрироваться</a>
                </div>
            </div>
        </div>
        <div class="authorization-modal-bg"></div>
    </div>




    <!-- Jquery js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
    <!-- Imask js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/7.3.0/imask.min.js"></script>
    <!-- intlTelInput js -->
    <script src="js/intlTelInput.js"></script>
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Aos js -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <!-- Main js -->
    <script src="js/main.js"></script>
</body>
</html>